body {
  background-color: #222;
  color: 333;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  /* color: #333; */
  position: fixed;
  width: 100%;
  z-index: 10;
}

.navbar a {
  /* color: #333; */
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

.hero-title span {
  color: #333;
}

.projects {
  padding: 4rem 2rem;
}

.project-card {
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 1.5rem;
  margin: 1rem;
  transition: transform 0.3s ease;
}
